
img.cloud-gif{
    width: 1250px;
    height: auto;
    position: relative;
  }

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote-container {
    text-align: center;
}
.myForm {
    text-align: center;
    font: 200px;

}


