body {
    margin: 0, auto;
    padding-left: 0, auto;
    padding-right: 0, auto;
    max-width: fit-content;
}

img.cloud-gif{
    width: 1250px;
    height: auto;
    position: relative;
  }
@font-face {
    font-family: Amilli;
    src: url(/fonts/Amattera\ Million.ttf);
}
h1 {
    text-align: center;
    font-family: Amilli;
    font-size: 60px;
}

h2 {
    height: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.quote-container {
    text-align: center;
}
.myForm {
    text-align: center;
    font: 200px;

}

img.page-bottom {
    width: 1250px;
    height: auto;
    position: relative;
  }

