
img.cloud-gif{
    width: 1250px;
    height: auto;
    position: relative;
  }
@font-face {
    font-family: Amilli;
    src: url(/fonts/Amattera\ Million.ttf);
}
h6 {
    text-align: center;
    font-family: Amilli;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.quote-container {
    text-align: center;
}
.myForm {
    text-align: center;
    font: 200px;

}

img.page-bottom {
    width: 1250px;
    height: auto;
    position: relative;
  }

